body{
    margin: 0px;
}
div.container{
   width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

div.background {
    background: url("img/default-bg.png") no-repeat;
    background-size: cover;
    width: 1280px;
    height: 720px;
    -webkit-filter: blur(10px) brightness(50%);
}

div.right-shadow, div.left-shadow, div.top-shadow, div.bottom-shadow {
    background-size: cover;
    position: absolute;
    z-index: 3;
}

div.right-shadow, div.left-shadow {
    top: 0px;
    width: 66px;
    height: 720px;
}

div.top-shadow, div.bottom-shadow{
    width: 1280px;
    height: 66px;
    left: 0px;
}

div.bottom-shadow{
    background: url("img/bottom-shadow.png");
    bottom: 0px;
}

div.top-shadow{
    background: url("img/top-shadow.png");
    top: 0px;
}

div.right-shadow{
    background: url("img/right-shadow.png");
    right: 0px;
}

div.left-shadow{
    background: url("img/left-shadow.png");
    left: 0px;
}

ul.menu-container{
    padding: 0px;
    margin: 20px 0px;
    position: relative;
    left: 500px;
    z-index: 5;
}

ul.menu-container .circle.focus{
    border-color: dodgerblue;
    box-shadow: 0 0 10px 5px dodgerblue;
}

ul.menu-container .circle.current{
   background: grey;
}

ul.menu-container, div.options{
    display: inline-block;
}

.options{
    margin: 20px 0px;
    padding: 0px;
    position: relative;
    left: 850px;
    z-index: 5;
}

div.circle{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid grey;
    margin: 10px;
}

.category-container ul li, .films-container ul li{
    display: inline-block;
    margin: 0px 10px;
}

.category-container ul li.current{
    transform: scale(1.25, 1.25);
    margin: 0px 30px;
    text-transform: uppercase;
}

.category-container ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    font: bold 20pt/8pt sans-serif;
    color: grey;
    left: 0px;
    transition: 0.5s left;
    white-space: nowrap;
}

.category-container .line {
    position: relative;
    top: 10px;
}

.line {
    margin-top: 0px;
    position: relative;
    top: 5px;
    display: block;
    height: 7px;
    border-radius: 4px;
    background: dodgerblue;
    box-shadow: 0 2px 10px dodgerblue;
}

.films-container img {
    display: block;
    width: 210px;
    height: 280px;
    border-radius: 5px;
}

.films-container ul{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    top: 90px;
    transition: 0.5s left;
    white-space: nowrap;
}

.films-container ul li.focus{
    transform: scale(1.25, 1.25);
    margin: 0px 40px;
}

.filmName {
    position: relative;
    top: 160px;
    left: 25px;
    display: block;
    text-align: center;
    font: bold 38pt/6pt Arial;
    color: lightgray;
}

.description{
    margin: 0px;
    position: relative;
    width: 1240px;
    top: 200px;
    height: 100px;
    left: 35px;
    font: 20pt/8pt sans-serif;
    color: lightgray;
    z-index: 5;
}

.description ul{
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.description ul li img{
    margin-right: 15px;
}

.description ul li {
    margin-right: 20px;
    display: inline-block;
}

.description ul div.rect {
    height: 35px;
    width: 60px;
    font: 22pt/8pt sans-serif;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
    line-height: 37px;
}
