body{
    margin: 0px;
}
div.container{
   width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

div.background {
    background: url("img/default-bg.png") no-repeat;
    background-size: cover;
    width: 1280px;
    height: 720px;
    -webkit-filter: blur(10px) brightness(50%);
}

div.right-shadow, div.left-shadow, div.top-shadow, div.bottom-shadow {
    background-size: cover;
    position: absolute;
    z-index: 3;
}

div.right-shadow, div.left-shadow {
    top: 0px;
    width: 66px;
    height: 720px;
}

div.top-shadow, div.bottom-shadow{
    width: 1280px;
    height: 66px;
    left: 0px;
}

div.bottom-shadow{
    background: url("img/bottom-shadow.png");
    top: 654px;
}

div.top-shadow{
    background: url("img/top-shadow.png");
    top: 0px;
}

div.right-shadow{
    background: url("img/right-shadow.png");
    left: 1214px;
}

div.left-shadow{
    background: url("img/left-shadow.png");
    left: 0px;
}

ul.menu-container{
    padding: 0px;
    margin: 20px 0px;
    position: relative;
    left: 500px;
    z-index: 5;
}

ul.menu-container div.focus, .settings-container div.focus{
    box-shadow: 0 0 10px 5px #1e90ff;
    background-position: 0 -208px;
}

ul.menu-container, div.settings-container{
    display: inline-block;
}

.settings-container{
    margin: 20px 0px;
    padding: 0px;
    position: relative;
    left: 890px;
    z-index: 5;
}

ul.menu-container div, .settings-container div{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    /*border: 5px solid #808080;*/
    margin: 10px;
}

.header.active .menu-container div, .header.active .settings-container div{
    background-position: 0 -52px;
}

.header ul.menu-container div.selected, .header .settings-container div.selected{
    background-position: 0 -104px;
}

.header ul.menu-container div.selected.focus, .header .settings-container div.selected.focus{
    background-position: 0 -156px;
}

.header ul.menu-container div.focus, .header .settings-container div.focus{
    background-position: 0 -208px;
}

.settings-container div {
    background: url("img/menubar-settings-icon.png");
}

.menu-container div.search{
    background: url("img/menubar-search-icon.png");
}

.menu-container div.live{
    background: url("img/menubar-live-icon.png");
}

.menu-container div.vod{
    background: url("img/menubar-vod-icon.png");
}

.menu-container div.apps{
    background: url("img/menubar-apps-icon.png");
}

.category-container ul li, .films-container ul li{
    display: inline-block;
    margin: 0px 10px;
}

.category-container ul li.current{
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    margin: 0px 30px;
    text-transform: uppercase;
}

.category-container ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    font: bold 20pt/8pt sans-serif;
    color: #808080;
    left: 0px;
    transition: 0.5s left;
    white-space: nowrap;
    height: 26px;
}

.category-container ul.active {
    color: #d3d3d3;
}

.category-container .line {
    position: relative;
    top: 10px;
}

.line {
    margin-top: 0px;
    position: relative;
    top: 5px;
    display: block;
    height: 7px;
    border-radius: 4px;
    background: #1e90ff;
    box-shadow: 0 2px 10px #1e90ff;
}

.films-container {
    position: relative;
}

.films-container img {
    display: block;
    width: 210px;
    height: 280px;
    border-radius: 5px;
}

.films-container ul{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    top: 90px;
    transition: 0.5s left;
    white-space: nowrap;
    height: 300px;
}

.films-container ul li.focus{
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    margin: 0px 40px;
}

.filmName {
    position: relative;
    top: 160px;
    left: 25px;
    display: block;
    text-align: center;
    font: bold 38pt/6pt Arial;
    color: #d3d3d3;
    z-index: 5;
}

.description{
    margin: 0px;
    position: relative;
    width: 1240px;
    top: 200px;
    height: 100px;
    left: 35px;
    font: 20pt/8pt sans-serif;
    color: #d3d3d3;
    z-index: 5;
}

.description ul{
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.description ul li img{
    margin-right: 15px;
}

.description ul li {
    margin-right: 20px;
    display: inline-block;
}

.description ul div.rect {
    height: 35px;
    width: 60px;
    font: 22pt/8pt sans-serif;
    border: 2px solid #808080;
    border-radius: 10px;
    text-align: center;
    line-height: 37px;
}
